@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: #14182c; */
  @apply font-["Roboto"];
}
li {
  @apply px-4;
  cursor: pointer;
  @apply font-medium;
}
input {
  color: white;
}
textarea {
  color: white;
}
